[phases.setup]
nixPkgs = ["python312", "python312Packages.pip", "python312Packages.setuptools", "python312Packages.wheel", "chromium", "chromedriver"]

[phases.install]
cmds = [
  "python3 -m pip install --upgrade pip setuptools wheel",
  "python3 -m pip install -r requirements.txt",
  "export CHROME_BIN=$(which chromium)"
]

[phases.build]
cmds = []

[start]
cmd = "export CHROME_BIN=$(which chromium) && export PORT=${PORT:-5000} && python3 app.py"

